<h3 class="ui subtitle header">
  Grau C - Qual nota substituir?
</h3>
<div class="ui vertical segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui massive fluid input" [ngClass]="{'error': (ga > 10)}">
        <input type="number" [(ngModel)]="ga" placeholder="Nota GA" (keyup)="calcula()" max="10">
      </div>
    </div>
    <div class="column">
      <div class="ui massive fluid input" [ngClass]="{'error': (gb > 10)}">
        <input type="number" [(ngModel)]="gb" placeholder="Nota GB" (keyup)="calcula()" max="10">
      </div>
    </div>
  </div>
  <p>* nenhum dado seu será armazenado</p>
</div>
<div class="ui vertical segment" *ngIf="aprovado">
  <span class="ui green huge label">
    Hey, o que vocês está fazendo aqui? Você foi aprovado! Vá comemorar!
  </span>
</div>
<div class="ui vertical segment" *ngIf="calculado">
  <div class="ui two statistics">
    <div class="statistic" [ngClass]="{'red': (gaResultado > gbResultado), 'green': (gaResultado < gbResultado)}">
      <div class="label">
        Você precisa tirar
      </div>
      <div class="value">
        {{ gaResultado | number : '1.2-2' }}
      </div>
      <div class="label">
        se substituir GA
        <br>
        <div class="ui red label" *ngIf="gaResultado > 10" style="margin: 5px;">Inviável</div>
        <div class="ui green label" *ngIf="gaResultado < gbResultado" style="margin: 5px;">Melhor opção</div>
      </div>
    </div>
    <div class="statistic" [ngClass]="{'red': (gaResultado < gbResultado), 'green': (gaResultado > gbResultado)}">
      <div class="label">
        Você precisa tirar
      </div>
      <div class="value">
        {{ gbResultado | number : '1.2-2' }}
      </div>
      <div class="label">
        se substituir GB
        <br>
        <div class="ui red label" *ngIf="gbResultado > 10" style="margin: 5px;">Inviável</div>
        <div class="ui green label" *ngIf="gaResultado > gbResultado" style="margin: 5px;">Melhor opção</div>
      </div>
    </div>
  </div>
  <h3><span class="ui teal large label">Resultado:</span> Sua melhor opção é substituir o Grau 
    <span *ngIf="gaResultado > gbResultado">B</span>
    <span *ngIf="gaResultado < gbResultado">A</span>.
  </h3>
</div>
