<h3 class="ui subtitle header">
  Saiba mais sobre esse projeto
</h3>
<div style="text-indent: 15px;">
  <p>Este projeto visa ajudar universitários da Universidade do Vale do Rio do Sinos (UNISINOS) com ferramentas fáceis e rápidas de serem usadas que ajudam a verificar suas notas, qual melhor nota substituir no Grau C, conferir o percentual de presença, entre outras ferramentas.</p>
  <p>É criado e atualizado por Lucas Schneider Müller, atualmente estudante do curso Ciência da Computação. Quer saber um pouco mais sobre mim? <a href="http://lucassmuller.xyz">Clique aqui.</a></p>
  <p>Tal ferramenta e site não tem qualquer vinculo com a Universidade do Vale do Rio do Sinos. Todos os direitos são reservados a seus devidos autores.</p>
</div>
<br>
<a href="https://bitbucket.org/lucassmuller/gf-da-depressao/overview" target="_blank" class="ui teal large label">Encontrou algum bug ou quer ajudar no projeto?</a>