<h3 class="ui subtitle header">
  Olá, bem-vindo(a)!
</h3>
<div style="text-indent: 15px;">
  <p>Selecione uma ferramenta abaixo para começar:</p>
</div>

<div class="ui vertical segment" *ngFor="let op of opcoes; let i = index;">
  <div class="ui red label">{{ i+1 }}</div>
  <b>{{ op.titulo }}</b>
  <div style="text-indent: 15px; margin-top: 10px;">
    <p>{{ op.texto }}</p>
  </div><br>
  <button class="ui right floated right labeled icon tiny button" routerLink="{{ op.btLink }}">{{ op.btTexto }} <i class="right chevron icon"></i></button>
  <br>
</div>
<div class="ui vertical segment">
  <b>Mais ferramentas em breve...</b>
</div>