<div class="ui text container">
  <h1 class="ui centered inverted title header" style="margin: 30px;">
    {{ appName }}
    <div class="sub header">Universidade do Vale do Rio do Sinos</div>
  </h1>
  <div class="ui red segment">
    <a class="ui top right attached label" routerLink="/sobre" routerLinkActive="red">
      <i class="help circle outline icon"></i>
      Sobre o projeto
    </a>
    <span>Chegou as provas e você nem viu? Vamos ver suas chances...</span>
    <div class="ui vertical segment">
      <a class="ui label" routerLink="/home" routerLinkActive="red">
        <i class="home icon"></i>
        Início
      </a>
    </div>
    <div class="ui vertical segment">
      <!-- conteúdo de cada página -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>