<h3 class="ui subtitle header">
  Grau Final - Calcula nota
</h3>
<div class="ui vertical segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui massive fluid input" [ngClass]="{'error': (ga > 10)}">
        <input type="number" [(ngModel)]="ga" placeholder="Nota GA" (keyup)="calcula()" max="10">
      </div>
    </div>
    <div class="column">
      <div class="ui massive fluid input" [ngClass]="{'error': (gb > 10)}">
        <input type="number" [(ngModel)]="gb" placeholder="Nota GB" (keyup)="calcula()" max="10">
      </div>
    </div>
  </div>
  <p>* nenhum dado seu será armazenado</p>
</div>
<div class="ui vertical segment" *ngIf="aprovado && calculado">
  <span class="ui green huge label">
    Hey, parabéns! Você tirou mais que seis!
  </span>
</div>
<div class="ui vertical segment" *ngIf="!aprovado && calculado">
  <span class="ui red huge label">
    Hey, não foi dessa vez! Se esforce no Grau C.
  </span>
</div>
<div class="ui vertical segment" *ngIf="calculado">
  <h3>
    <span class="ui teal large label">Resultado:</span> 
    Sua nota final sem o Grau C é {{ gf | number : '1.2-2' }}.
  </h3>
</div>
