/* You can add global styles to this file, and also import other style files */
.accent-color {
    color: #F1FAEE;
}

.title {
    font-size: 50px !important;
    color: #F1FAEE !important;
    font-family: 'Raleway', sans-serif !important;
}

.subtitle {
    font-size: 25px !important;
    color: #000 !important;
    font-family: 'Raleway', sans-serif !important;
}